.toggle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 80px;
  border-radius: 40px;

  .toggle-left,
  .toggle-right {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: border 0.2s linear;

    &:hover {
      border: 6px solid #ffffff;

      > .toggle-line {
        border: 1px solid #ffffff;
      }
    }
  }

  .toggle-left {
    border: 6px solid #ffffff;
  }

  .toggle-right {
    border: 6px solid #2070b0;
  }

  .toggle-line {
    border: 1px solid #2070b0;
    position: absolute;
    transition: border 0.2s linear;

    &.horizontal {
      width: 20px;
      height: 0;

      &.one {
        margin-top: 28%;
      }

      &.two {
        margin-top: 62%;
      }
    }

    &.vertical {
      width: 0;
      height: 20px;

      &.one {
        margin-left: 28%;
      }

      &.two {
        margin-left: 62%;
      }
    }
  }

  .toggle-slider {
    display: flex;
    align-items: center;
    width: 100px;
    height: 44px;
    border: 8px solid white;
    border-radius: 40px;
    padding: 8px;

    .toggle-slider-icon {
      width: 50px;
      height: 50px;
      background: white;
      border-radius: 40px;
      transition: margin 0.1s linear;
      margin-left: 0;
    }
  }

  &.active {
    .toggle-left {
      border: 6px solid #2070b0;

      &:hover {
        border: 6px solid #ffffff;
      }
    }

    .toggle-right {
      border: 6px solid #ffffff;

      > .toggle-line {
        border: 1px solid #ffffff;
      }
    }

    .toggle-slider-icon {
      margin-left: 54px;
    }
  }
}
